

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    box-sizing: border-box;
    background-color:blue;
    padding: 40px;

}

h4 {
    font-size: 50px;
    color: black;
    font-family: 'Krona One', sans-serif;
}

.whiteBackground {
    background-color: white;

}
.darkblue {
    color:darkblue;

}

